@charset "utf-8";
/* CSS Document */
body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 16px;
	color: #999
}

#home_geral{
	width: 1200px;
	height: 980px;
	position: relative;
	margin: auto;
}


/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  	width: 1200px;
  	margin: 0 auto;
  	height: 70px;
	position: fixed;
	
	
}

.navigation-bar {
    background-color: #04661E;
    height: 70px;
    width: 1200px;
    text-align:center;
	position: fixed;
		
}

.navigation-bar img{
	float:left;
	position: fixed;
	margin-left:-2.7%
}

.navigation-bar ul {
  	padding: 0px;
  	margin: 0px 0px 0px 16%;
  	text-align:center;
  	display:inline-block;
  	vertical-align:top;
}

.navigation-bar li {
  	list-style-type: none;
  	padding: 10px;
  	height: 24px;
  	margin-top: 4px;
  	margin-bottom: 4px;
  	display: inline;
	border: solid 2px #000000;
	background-color: #04661E;
	border-radius: 10px;
	
      
}

.navigation-bar li a {
  	color: white;
  	font-size: 16px;
  	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  	text-decoration: none;
  	line-height: 70px;
 	padding: 10px;
  	
}

.navigation-bar li:hover{
	
	background-color:#9C9A20
}

.navigation-bar li.active{
	background-color:darkkhaki;
	
}
	
#side-nav{
	width: 191px;
	height: 980px;
	position: absolute;
	margin: 70px auto auto;
	
}
.sidenav{
	background-color: #04661E;
    height: 980px;
    width: 191px;
    text-align: center;
	position: static;
	float: left;
	margin-top: 70px
}

#contentbox{
	width: 1009px;
	height: 100%;
	position: static;
	float:right;
	margin-top: 70px;
	}

.content{
	height: 100%;
    text-align: left;
	position:static;
	
	
	
}
/* Dropdown Button */
.divimagbut {
    background-color: #04661E;
	width: 191px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.divimagbut:hover, .divimagbut:focus {
    background-color:#9C9A20;
}

/* The container <div> - needed to position the dropdown content */
.divimag {
    position: static;
    display: inline-block;
	width:auto
}

/* Dropdown Content (Hidden by Default) */
.divimagcont {
    display: none;
    position: static;
	background-color:#008F10;
    min-width: 191px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 60;
	
}

/* Links inside the dropdown */
.divimagcont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.divimagcont a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


